// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/bootstrap';
@import "~bootswatch/dist/materia/bootswatch";

.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

.super8b-tabs, .super8b-tab-menus .active {
	background: #FFF
}

$black: #333;
$white: #eee;
$color-1: #00BCD4;
$label-z: 200;
$svg-z: 100;

html {
    height: 100%;
}

body {
    font-size: 1rem;
}

main {
    min-height: 600px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    margin-top: auto;

    .container {
        border-top: 2px solid lightgrey;
    }
}

.muscle-groups {
  position: relative;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 5px;
  overflow: hidden;
  h1 {
    margin: -.5rem -1rem 1rem;
    padding: 0 1rem .75rem;
    background: $color-1;
    color: $white;
    text-align: center;
    font-size: 1.25rem;
  }
  h2 {
    margin: 0 0 .5rem;
    font-size: .8rem;
    letter-spacing: -.03em;
    text-transform: uppercase;
  }
  label + h2 { margin-top: 1rem; }
  label {
    width: 50px;
    display: block;
    margin-bottom: .5rem;
    cursor: pointer;
    font-size: .7rem;
    opacity: .5;
    position: relative;
    z-index: $label-z;
    border-left: 5px solid transparent;
    padding-left: 6px;
    margin-left: -11px;
    &:hover, &.hover {
      opacity: 1;
      border-color: rgba($black, .75);
    }
  }
  input:checked + label {
    opacity: 1;
    font-weight: bold;
    color: $color-1;
  }
  svg {
    right: -1.5rem;
    bottom: 3rem;
    height: 350px;
    z-index: $svg-z;
  }
  svg g[id] path {
    opacity: .2;
    transition: opacity .25s ease-in-out;
  }
  svg g g[id]:hover path {
    cursor: pointer;
    opacity: .5;
    fill: $color-1 !important;
  }
  .muscles-helper {
    display: none;
  }
  $groups: obliques, abs, quads, biceps, adductors, pectorals, deltoids, hamstrings, quads, forearms, calves, triceps, glutes, lats, trapezius;
  @each $muscle in $groups {
    $upper: to-upper-case(str-slice($muscle, 1, 1)) + str-slice($muscle, 2);
    label[for="#{$muscle}"]:hover ~ svg ##{$upper} path {
      opacity: .75;
    }
    .#{$muscle}:checked ~ svg ##{$upper} path {
      opacity: .8;
      fill: $color-1 !important;
    }
  }
}

.muscle-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0;
  .info {
    font-size: .8rem;
    display: block;
    width: 250px;
    padding-top: 200px;
    color: $white;
    padding-left: 2rem;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
    a {
      color: $white;
    }
  }
}

